@page
@model Balaie_Cristian_Vlad_PROJECT.Pages.Metals.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Metal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Metal.MetalName" class="control-label"></label>
                <input asp-for="Metal.MetalName" class="form-control" />
                <span asp-validation-for="Metal.MetalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metal.Position" class="control-label"></label>
                <input asp-for="Metal.Position" class="form-control" />
                <span asp-validation-for="Metal.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metal.Valency" class="control-label"></label>
                <input asp-for="Metal.Valency" class="form-control" />
                <span asp-validation-for="Metal.Valency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
